{{#section 'head'}}
{{#if filterCategoryName}}
<title>Sabka Bazaar - {{filterCategoryName}}</title>
{{else}}
<title>Sabka Bazaar - Products</title>
{{/if}}
<meta name="description" content="Best place online to buy products from various categories, from everyday needs to shopping">
{{/section}}

{{> header}}

<div class="products-page">
    <nav class="categories-nav">
        <ul class="categories-nav__list" aria-label="Categories">
            {{#each categories}}
            <li class="categories-nav__item" data-active-link="{{activeCategory}}" data-category-id="{{id}}"
                data-category-key="{{key}}"><a href="/products?category={{id}}">{{name}}</a></li>
            {{/each}}
        </ul>
    </nav>

    <nav class="categories-mobile-nav">
        <select name="category-dropdown" id="mobile-category-dropdown" class="categories-mobile-nav__select">
            <option value="" class="categories-mobile-nav__option">Select Category</option>
            {{#each categories}}
                <option class="categories-mobile-nav__option" data-active-link="{{activeCategory}}"
                    value="{{id}}"><a href="/products?category={{id}}">{{name}}</a>
                </option>
            {{/each}}
        </select>
    </nav>

    <main>
        <div class="products-listing" id="products-listing">
            {{#each products}}
            <div class="product-card" data-id="{{id}}" data-title="{{name}}" data-imgUrl="{{imageURL}}"
                data-price="{{price}}">
                <h3 class="product-card__title">{{name}}</h3>
                <div class="product-card__body">
                    <img src="{{imageURL}}" alt="{{name}}" class="product-card__img">
                    <div class="product-card__content">
                        <p class="product-card__description">{{description}}</p>
                        <div class="product-card__footer">
                            <span class="product-card__price">MRP Rs.{{price}}</span>
                            <button class="btn btn--primary add-to-cart-btn">Buy Now</button>
                        </div>
                        <button class="btn btn--primary product-card__mobile-btn add-to-cart-btn">Buy Now @ MRP Rs. {{price}}</button>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </main>
</div>

<script defer src="/static/js/products.js"></script>